<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/homenavbar.ejs') %>

<div class="container pt-5">
   
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST"><br/>
                <input class="form-control" name="email" type="email" placeholder="Email" required/><br/>
                <input class="form-control" name="password" type="password" placeholder="Senha" required/><br/>
                <button type="submit" class=" btn-success btn-lg btn-block col-sm-12">Entrar</button>
            </form>
        </div>
    </div>

</div>





<%- include ('../../partials/footer.ejs') %>